*{
    padding: 0;
    margin:0;
}

.accordian-header{
    display: grid;
    grid-template-columns: 10% 85% 5%;
}

.index-number{
    grid-column: 1/2;
    color: gray;
}

.header-title{
    grid-column: 2/3;
}

.header-icon{
    grid-column: 3/4;
    font-weight: bolder;
    font-size: 1rem;
}

.accordian-item{
    padding: 20px 10px 24px;
    width: 40%;
    margin: 0px auto 10px;
    border-top: 4px solid #F1EAFF;
    cursor: pointer;
    background-color: #F1EAFF;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.accordian-item-active{
    border-top:4px solid green;
}

.answer-container{
    margin-top: 15px;
    width: 100%;
}

.answer{
    width: 80%;
    margin:auto;
}

.active{
    color: green;
}