.progress-container{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    padding:0.5rem;
    font-size: 1.2rem;
    width: 80%;
    margin: auto;
}

.progress-container progress{
    width: 100%;
    color: #ced4da;
}

.questions-points{
    display: flex;
    justify-content: space-between;
    align-items: center;
}