.correct{
    background-color:green !important;
}

.wrong{
    background-color:red !important;
}

.options-container{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap:0.5rem;
}

.option-button{
    width: 60%;
    margin:auto;
    border:none;
    outline: none;
    border-radius: 0.2rem;
    padding:0.5rem;
    background-color: rgb(155, 181, 204);
    color: white;
    font-weight: bolder;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
}

.option-button:hover{
    background-color: rgb(187, 218, 243);
    transform: translateX(1.2rem);
}

.option-button:disabled{
    cursor: not-allowed;
}